# Ignore NPM/Yarn packages ----------------------
node_modules

# Meteor local files ----------------------------
.meteor/local/

# Logs ------------------------------------------
npm-debug.log
yarn-error.log
